@model InventoryManagementSoftware.Service.DTO.Brand.DTOBrand
@inject InventoryManagementSoftware.Web.Resource localizer
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@localizer.Add/@localizer.Edit @localizer.Brand</h4>
</div>

<form asp-area="Administrator" asp-controller="Brand" asp-action="Save" data-ajax-form="true" method="post" id="brand_add_form">

    <div class="modal-body">
        <div class="form-group">
            <input asp-for="Id" type="hidden" />
            <input asp-for="CategoryBrandsListItems" type="hidden" />

            <label>@localizer.Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label>@localizer.Categories</label>
            <select class="category-brand-multiple form-control dropdown-toggle" asp-for="SelectedCategoryBrandsIds" asp-items="Model.CategoryBrandsListItems" style="width : 100%"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">@localizer.Close</button>
        <button type="submit" class="btn green">@localizer.Save</button>
    </div>

</form>
<script>
    $(document).ready(function () {
        $('.category-brand-multiple').select2();
    });
</script>


